Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

Update SQLCipher to 4.11.0
  libs/SmartStore/build.gradle.kts
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreTest.java
Due: none

Add sections and additional info to DevInfoActivity and tests.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/DevInfoActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
Due: SalesforceSDK

Add DevSupportInfo tests.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/DevInfoActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginOptionsActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
Due: SalesforceSDK

@W-20151632: MSDK Android Security Bug: CVE-2025-11953 - React Native Community CLI (RCE) (#2800)
  .github/workflows/reusable-workflow.yaml
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/build.gradle.kts
Due: none

Make new DevSupportInfo class backwards compatible.
  .github/workflows/reusable-workflow.yaml
  libs/SalesforceReact/src/com/salesforce/androidsdk/reactnative/app/SalesforceReactSDKManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/DevInfoActivity.kt
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/app/SmartStoreSDKManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
Due: SalesforceSDK, SmartStore, React

Remove SmartStore string reference in SalesforceSDK library.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/DevInfoActivity.kt
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/app/SmartStoreSDKManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
Due: SalesforceSDK, SmartStore

Fix CI.
  .github/workflows/reusable-workflow.yaml
Due: none

no message
  .github/workflows/reusable-workflow.yaml
Due: none

Fix Gradle version.
  .github/workflows/reusable-workflow.yaml
Due: none

Remove unused code and introduce annotation to exclude UI previews from code coverage.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/DevInfoActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginOptionsActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/test/ExcludeFromJacocoGeneratedReport.kt
Due: SalesforceSDK

Add Login Options to Dev Menu (#2801)
  libs/SalesforceReact/src/com/salesforce/androidsdk/reactnative/app/SalesforceReactSDKManager.java
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/res/values/sf__strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/notifications/local/ShowDeveloperSupportNotifier.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/DevInfoActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginOptionsActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/test/ExcludeFromJacocoGeneratedReport.kt
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/app/SmartStoreSDKManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushServiceTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginOptionsActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
Due: SalesforceSDK, SmartStore, React

Revert "Update SQLCipher to 4.11.0"
  libs/SmartStore/build.gradle.kts
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreTest.java
Due: none

Add per login host oauth configuration.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/OAuthConfig.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginOptionsActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/OAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginOptionsActivityTest.kt
Due: SalesforceSDK

Fix tests.
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticationUtilitiesTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
Due: none

Add additional LoginViewModel tests.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: SalesforceSDK

Allow appConfigForLoginHosts to return null. Fix tests.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/OAuthConfig.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginOptionsActivityTest.kt
Due: SalesforceSDK

Move DevInfo, LoginOptions and TestAuthentication activities to debug manifest to ensure they cannot be used in production.
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/OAuthConfig.kt
  libs/SalesforceSDK/src/debug/AndroidManifest.xml
Due: SalesforceSDK

Shard tests.
  .github/test-shards/MobileSync.json
  .github/test-shards/SalesforceHybrid.json
  .github/test-shards/SalesforceReact.json
  .github/test-shards/SalesforceSDK.json
  .github/workflows/reusable-workflow.yaml
Due: none

Remove Cordova telemetry opt out. Update Gemfile.lock
  .github/DangerFiles/Gemfile.lock
  .github/workflows/reusable-workflow.yaml
Due: none

Add Test Shard README.
  .github/test-shards/README.md
Due: none

Add CI validation for shards.
  .github/test-shards/README.md
  .github/workflows/reusable-workflow.yaml
Due: none

Fix AndroidManifest issues and warnings in test libraries.
  libs/test/MobileSyncTest/AndroidManifest.xml
  libs/test/SalesforceHybridTest/AndroidManifest.xml
  libs/test/SalesforceReactTest/AndroidManifest.xml
  libs/test/SalesforceSDKTest/AndroidManifest.xml
  libs/test/SalesforceSDKTest/res/xml/authenticator.xml
  libs/test/SmartStoreTest/AndroidManifest.xml
Due: none

Fix and optimize Test Results and Code Coverage CI steps for test shards.
  .github/workflows/reusable-workflow.yaml
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
Due: none

Improve null server/loginUrl handling and add tests.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: SalesforceSDK

Fix lint issue.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

Fix selectedServer nullable lint issue.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Re-factored login observables)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Improved UX When WSC Disabled)
  libs/SalesforceSDK/res/values/strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Update `LoginActivityTests` to update expectations and fix bugs)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Update `LoginViewModelTests` for `pendingServer`)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: none

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Correct re-base)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Test loginActivity_startsWscDiscovery_onCreateWithSelectedServer)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Correct consumer key in WSC Discovery mobile URL generation)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Defer browser authentication check from loginUrl to webViewURl)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (loginActivity_startsCorrectActivity_onStartDefaultLoginWithHintAndHost)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (loginActivity_setsPreviousPendingServer_onPendingServerObserve)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (Improved Observer Testing Pattern For `LoginActivity`)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-20161958: [MSDK 13.1][Android] Cannot login GUS using Welcome endpoint (loginViewModel_applyPendingLoginServer Tests)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SalesforceSDK: any of: libs/SalesforceSDK/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  Hybrid: any of: libs/SalesforceHybrid/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SmartStore: any of: libs/SmartStore/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  MobileSync: any of: libs/MobileSync/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  React: any of: libs/SalesforceReact/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
