Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

Redact tokens and other sensitive values passed into SalesforceSDKLogger.
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/logger/LogRedactor.kt
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/logger/SalesforceLogger.java
  libs/test/SalesforceAnalyticsTest/src/com/salesforce/androidsdk/analytics/logger/SalesforceLoggerTest.java
Due: Analytics

Replace Log with SalesforceSDKLogger. (#2866)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
Due: SalesforceSDK

Replace Log with SalesforceSDKLogger.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
Due: SalesforceSDK

Replace Log with SalesforceSDKLogger. (#2869)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
Due: SalesforceSDK

Redact tokens and other sensitive values passed into SalesforceSDKLogger. (#2867)
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/logger/LogRedactor.kt
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/logger/SalesforceLogger.java
  libs/test/SalesforceAnalyticsTest/src/com/salesforce/androidsdk/analytics/logger/SalesforceLoggerTest.java
Due: Analytics

Add Login for Admin feature and fix existing issues with browser url and custom tabs routing.
  libs/SalesforceSDK/res/values/sf__strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/TokenMigrationActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/LoginForAdminTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: SalesforceSDK

Make launching the Login for Admins feature public.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

Add Login for Admin feature and fix existing issues with browser url and custom tabs routing. (#2870)
  libs/SalesforceSDK/res/values/sf__strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/TokenMigrationActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/LoginForAdminTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: SalesforceSDK

Update AGP to 9.2.0, Jacoco to 0.8.14, and fix srcDirs deprecations
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

Document android.newDsl migration blocker
  MIGRATION_android_newDsl_BLOCKER.md
Due: none

Add TODO comments for deferred android.newDsl migration
  buildSrc/src/main/kotlin/publish-module.gradle.kts
  gradle.properties
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

Update SmartStoreTest version assertions for SQLCipher 4.14.1
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreTest.java
Due: none

Update remaining outdated dependencies identified by Android Studio Inspector
  libs/SalesforceHybrid/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

@W-21471024: Fix Kotlin 2.1.0 compatibility issues in build configuration
  buildSrc/src/main/kotlin/publish-module.gradle.kts
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

Downgrade AGP from 9.2.0 to 9.1.1 to fix lint hang
  build.gradle.kts
  buildSrc/build.gradle.kts
Due: none

Add android.newDsl migration guide
  MIGRATION_android_newDsl.md
Due: none

Fix AuthFlowTester androidTest Compose dependency resolution
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

Upgrade Android Gradle Plugin from 8.12.0 to 9.1.1
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/publish-module.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Due: none

Remove unused RenderScript support to resolve AGP deprecations
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

@W-21933885: [MSDK Android] App Attestation Implementation (Migrate To Toolchain)
  gradle/gradle-daemon-jvm.properties
  settings.gradle.kts
Due: none

Migrate deprecated task() API to tasks.register() in SalesforceReact
  libs/SalesforceReact/build.gradle.kts
Due: none

Update Kotlin to 2.3.20 and remove redundant version declarations
  build.gradle.kts
  buildSrc/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

@W-21933885: [MSDK Android] App Attestation Implementation (org.jetbrains.kotlin:compose-compiler-gradle-plugin:2.3.21ˆ Dependency And Whitespace Cleanup)
  build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  settings.gradle.kts
Due: none

@W-21471024: Fix Compose 1.4.0 API compatibility issues
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: SalesforceSDK

@W-21471024: Upgrade Kotlin from 1.9.24 to 2.1.0 for Compose 1.4.0 compatibility
  build.gradle.kts
  buildSrc/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

Fix AuthFlowTester Compose dependency resolution
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

Update OkHttp from 4.12.0 to 5.3.2
  libs/SalesforceSDK/build.gradle.kts
Due: none

@W-21471024: Remove unnecessary Kotlin 2.0+ Compose Compiler comments
  libs/SalesforceSDK/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

Update android.newDsl migration blocker with second attempt findings
  MIGRATION_android_newDsl_BLOCKER.md
Due: none

Update dependencies to latest compatible versions
  libs/SalesforceSDK/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

Update remaining AndroidX and third-party dependencies
  libs/SalesforceSDK/build.gradle.kts
Due: none

Remove unneeded tooling documentation.
  MIGRATION_android_newDsl.md
  MIGRATION_android_newDsl_BLOCKER.md
Due: none

Fix Login for Admin string.
  libs/SalesforceSDK/res/values/sf__strings.xml
Due: none

Fix Login for Admin string. (#2873)
  libs/SalesforceSDK/res/values/sf__strings.xml
Due: none

Cherry Pick Login for Admin feature (#2872)
  libs/SalesforceSDK/res/values/sf__strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/TokenMigrationActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/LoginForAdminTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: SalesforceSDK

Downgrade to KOTLIN_2.0 apiVersion and languageVersion
  build.gradle.kts
Due: none

Update Developers
  buildSrc/src/main/kotlin/publish-module.gradle.kts
Due: none

Remove unneeded comments.
  libs/SalesforceSDK/build.gradle.kts
Due: none
