Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

Mobile SDK 13.0.1
  README.md
  build.gradle.kts
  libs/MobileSync/AndroidManifest.xml
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceHybrid/res/xml/config.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
  libs/SmartStore/build.gradle.kts
  libs/test/SalesforceHybridTest/res/xml/config.xml
  package.json
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (SalesforceSDKManagerTests.salesforceSdkManager_DoesNotUpdate_onFetchAuthenticationConfigurationWithTimeout)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Review nullability in fetchAuthenticationConfiguration)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Review CodeCov Partial Line Reports In SalesforceSDKManager.kt)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Revert LoginServerManager.java)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Revert CodeCov Diagnostic In SalesforceSDKManager.kt And Revert Unneeded Changes In LoginViewModel.kt)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Final Unit Test Fixes)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Remove fetchAuthenticationConfigurationTimeout)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (#2715)
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceDroidGapActivity.kt
  libs/SalesforceSDK/res/xml/servers.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/AuthConfigUtil.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  native/NativeSampleApps/RestExplorer/res/xml/servers.xml
Due: SalesforceSDK, Hybrid

@W-17459669: Android 16 support
  libs/SalesforceSDK/AndroidManifest.xml
Due: none

Fix profile photo download.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
Due: SalesforceSDK

@W-17459669: Android 16 support (#2720)
  libs/SalesforceSDK/AndroidManifest.xml
Due: none

Removing unused package.json
  package.json
Due: none

Removing package.json update step in setversion.sh
  setversion.sh
Due: none

@W-16556387: [ReactNative][Android] Upgrade to React Native 0.79 (W.I.P. w/Syntax Error In `npx react-native start`ˆ)
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  libs/SalesforceReact/babel.config.js
Due: none

@W-16556387: [ReactNative][Android] Upgrade to React Native 0.79 (Working P.O.C. Of Android Salesforce ReactNativeTemplate On 0.97.3)
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  libs/SalesforceReact/babel.config.js
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
  libs/test/SalesforceReactTest/src/com/salesforce/androidsdk/reactnative/util/SalesforceReactTestApp.java
Due: none

Saving API instance URL in user account
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/test/TestCredentials.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/ExplorerActivity.java
Due: SalesforceSDK

@W-16556387: [ReactNative][Android] Upgrade to React Native 0.79 (W.I.P Of MSDK Android SalesforceReact Test Suite On 0.97.3)
  libs/SalesforceReact/babel.config.js
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/metro.config.js
  libs/SalesforceReact/package.json
  libs/test/SalesforceReactTest/src/com/salesforce/androidsdk/reactnative/util/ReactActivityTestDelegate.java
  libs/test/SalesforceReactTest/src/com/salesforce/androidsdk/reactnative/util/SalesforceReactTestApp.java
Due: none

@W-16556387: [ReactNative][Android] Upgrade to React Native 0.79 (Working Tests, Comprehensive Update To `package.json` Matching React Native Upgrade Helper Updates To SalesforceMobileSDK-Templates)
  libs/SalesforceReact/package.json
  libs/test/SalesforceReactTest/src/com/salesforce/androidsdk/reactnative/ReactMobileSyncTest.java
Due: none

@W-16556387: [ReactNative][Android] Upgrade to React Native 0.79 (Add JSC Dependency To Preserve Existing Gradle Dependencies)
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
Due: none

@W-16556387: [ReactNative][Android] Upgrade to React Native 0.79 (Restore Repository References In `package.json`)
  libs/SalesforceReact/package.json
Due: none

@W-16556387: [ReactNative][Android] Upgrade to React Native 0.79 (#2725)
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  libs/SalesforceReact/babel.config.js
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/metro.config.js
  libs/SalesforceReact/package.json
  libs/test/SalesforceReactTest/src/com/salesforce/androidsdk/reactnative/ReactMobileSyncTest.java
  libs/test/SalesforceReactTest/src/com/salesforce/androidsdk/reactnative/util/ReactActivityTestDelegate.java
  libs/test/SalesforceReactTest/src/com/salesforce/androidsdk/reactnative/util/SalesforceReactTestApp.java
Due: none

@W-18648586: Gradle upgrade
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Due: none

@W-18648586: Gradle upgrade (Dependency Updates Without Requiring Kotlin 2)
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

@W-18648586: Gradle upgrade (Dependency Updates With Kotlin 2 For Future Reference)
  build.gradle.kts
  buildSrc/build.gradle.kts
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

@W-18648586: Gradle upgrade (API 36 Update For Future Reference)
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

@W-18648586: Gradle upgrade (Revert Kotlin 2 And API 36 Changes For Another Time)
  build.gradle.kts
  buildSrc/build.gradle.kts
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

@W-18648586: Gradle upgrade (#2727)
  build.gradle.kts
  buildSrc/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix rare race condition crash.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/AppLockManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/BiometricAuthenticationManager.kt
Due: SalesforceSDK

@W-18777804: [qr code scan][android] we should prevent a successful login of client A by scanning QR code of client B
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

Fix failed login if api_instance_url is missing.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  native/NativeSampleApps/RestExplorer/src/com/salesforce/samples/restexplorer/ExplorerActivity.java
Due: SalesforceSDK

Allow Browser Auth (with Web Server Flow) to be used if app has set useWebServerAuthentication to false.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-18777804: [qr code scan][android] we should prevent a successful login of client A by scanning QR code of client B (Extract String Resources)
  libs/SalesforceSDK/res/values/strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-18777804: [qr code scan][android] we should prevent a successful login of client A by scanning QR code of client B (Correct Consumer Key Matching)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-18777804: [qr code scan][android] we should prevent a successful login of client A by scanning QR code of client B (New LoginActivity Tests)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

@W-18777804: [qr code scan][android] we should prevent a successful login of client A by scanning QR code of client B (Even More LoginActivity Tests)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

@W-18777804: [qr code scan][android] we should prevent a successful login of client A by scanning QR code of client B (#2731)
  libs/SalesforceSDK/res/values/strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK
