Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

fix(test): repair three downgradeFromDPoP test failures
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerMigrateTokenTest.kt
Due: none

fix(dpop): gate nonce retry on DPoP header presence, not credentials id alone
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/OAuthRefreshInterceptorNonceTest.kt
Due: SalesforceSDK

Track observed RT feature marker per user in AuthFlowTester
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RTRLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/UITestConfig.kt
Due: none

Remove server-bug workarounds from AuthFlowTester (W-22512846, W-20524841 fixed)
  native/NativeSampleApps/AuthFlowTester/README.md
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RTRLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RefreshTokenMigrationTests.kt
Due: none

fix(auth): pass LoginActivity's own viewModel into LoginView()
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

feat(auth): add mainSid computed getter to UserAccount
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceWebViewCookieManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
Due: SalesforceSDK, Hybrid

ci: add Firebase Test Lab API 37 coverage
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

ci: add Firebase Test Lab API 37 coverage (#3018)
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

feat(auth): capture ui_sid from DPoP token responses and use it in mainSid
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
Due: SalesforceSDK

fix(auth): remove duplicate uiSid declaration in UserAccountManager
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
Due: SalesforceSDK

fix(auth): clear stale uiSid on DPoP-to-Bearer downgrade; improve test coverage
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
Due: SalesforceSDK

feat(authflowtester): display mainSid/uiSid and assert them in tests
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/components/UserCredentialsView.kt
Due: none

fix(test): treat '(empty)' placeholder as blank in validateSIDs
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
Due: none

test(authflowtester): align validateSIDs with iOS assertSIDs
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/components/UserCredentialsView.kt
Due: none

Use imported IDPManager/SPManager types with file-level DEPRECATION suppress
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

Fix DPoP token type comparisons to be case-insensitive (W-24027018)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManagerExtension.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPRequestDecoratorTest.kt
Due: SalesforceSDK

fix(AuthFlowTesterUITests): assert mainSid only in hybrid flows
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
Due: none

fix(SalesforceNetworkPlugin): add caller-origin check to pgSendRequest (W-23695430)
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPlugin.java
  libs/SalesforceHybrid/src/test/java/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPluginTest.java
  libs/SalesforceHybrid/unitTest/java/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPluginTest.java
Due: Hybrid

fix(SalesforceNetworkPlugin): reference local config.xml in trusted-origin comment
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPlugin.java
Due: Hybrid

fix(SalesforceNetworkPlugin): reference plugin.xml as source of truth in comment
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPlugin.java
Due: Hybrid

Fix AuthFlowTester UI test timeouts
  .github/workflows/reusable-ui-workflow.yaml
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
Due: none

fix(AuthFlowTesterUITests): scope uiSid assertNotEmpty to hybrid flows only
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
Due: none

fix(AuthFlowTesterUITests): correct validateOAuthValues calls for non-hybrid and DPoP upgrade/downgrade flows
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

fix(AuthFlowTesterUITests): remove beacon RTR workaround after W-23971480 server fix
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/UITestConfig.kt
Due: none

security(hybrid): tighten pgSendRequest origin check to instance URL only
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPlugin.java
  libs/SalesforceHybrid/unitTest/java/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPluginTest.java
Due: Hybrid

security(hybrid): split caller vs endpoint trust check in pgSendRequest
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPlugin.java
  libs/SalesforceHybrid/unitTest/java/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPluginTest.java
Due: Hybrid

security(hybrid): rename endpoint check to isInstanceServer; exclude localhost
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPlugin.java
  libs/SalesforceHybrid/unitTest/java/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPluginTest.java
Due: Hybrid

security(hybrid): fix P2 issues in isTrustedCallerOrigin
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPlugin.java
  libs/SalesforceHybrid/unitTest/java/com/salesforce/androidsdk/phonegap/plugin/SalesforceNetworkPluginTest.java
Due: Hybrid

ci: add checks: write permission so action-junit-report can post check annotations
  .github/workflows/nightly.yaml
  .github/workflows/pr.yaml
  .github/workflows/reusable-lib-workflow.yaml
Due: none

Fix AuthFlowTester UI test timeouts (#3024)
  .github/workflows/reusable-ui-workflow.yaml
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
Due: none

Stabilize flaky Android test suites
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/TestRunnerPlugin.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/JSTestCase.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/JSTestCaseTest.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/MobileSyncJSTest.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/SmartStoreJSTest.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/SmartStoreLoadJSTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
Due: Hybrid

Avoid logout without a current account
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
Due: SalesforceSDK

Reimplement presentOptInDialog API with a transparent activity
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/res/values/sf__styles.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/interfaces/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/BiometricOptInActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/BiometricAuthenticationManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/BiometricOptInDialogTest.kt
Due: SalesforceSDK

Report sharded flaky retries correctly
  .github/workflows/reusable-lib-workflow.yaml
Due: none

Stabilize flaky Android tests and harden API 37 logout handling (#3026)
  .github/workflows/reusable-lib-workflow.yaml
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/plugin/TestRunnerPlugin.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/JSTestCase.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/JSTestCaseTest.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/MobileSyncJSTest.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/SmartStoreJSTest.java
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/SmartStoreLoadJSTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
Due: SalesforceSDK, Hybrid

Harden BiometricOptInDialog tests against Compose idling hang
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/BiometricOptInDialogTest.kt
Due: none

Dismiss opt-in dialog on result in tests to prevent Compose idle hang
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/BiometricOptInDialogTest.kt
Due: none

docs: update Android token lifecycle
  docs/auth/token-lifecycle.md
Due: none

docs: add Android auth index
  docs/auth/README.md
Due: none

Test biometric opt-in via window-less content to fix Test Lab hang
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/BiometricOptInDialogTest.kt
Due: SalesforceSDK

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SalesforceSDK: any of: libs/SalesforceSDK/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  Hybrid: any of: libs/SalesforceHybrid/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SmartStore: any of: libs/SmartStore/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  MobileSync: any of: libs/MobileSync/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  React: any of: libs/SalesforceReact/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
