Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

Update Developers
  buildSrc/src/main/kotlin/publish-module.gradle.kts
Due: none

Downgrade AGP from 9.2.0 to 9.1.1 to fix lint hang
  build.gradle.kts
  buildSrc/build.gradle.kts
Due: none

Update Kotlin to 2.3.20 and remove redundant version declarations
  build.gradle.kts
  buildSrc/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

Fix AuthFlowTester androidTest Compose dependency resolution
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
Due: none

@W-21933885: [MSDK Android] App Attestation Implementation (org.jetbrains.kotlin:compose-compiler-gradle-plugin:2.3.21ˆ Dependency And Whitespace Cleanup)
  build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  settings.gradle.kts
Due: none

Remove unneeded comments.
  libs/SalesforceSDK/build.gradle.kts
Due: none

Remove unneeded tooling documentation.
  MIGRATION_android_newDsl.md
  MIGRATION_android_newDsl_BLOCKER.md
Due: none

Revert "@W-21933885: [MSDK Android] App Attestation Implementation (TEMPORARY: Updated Ignored Test Inventory)"
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/HttpAccessTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/BootConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/OAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/util/AuthConfigUtilTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/KeyValueStoreInspectorActivityTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartSqlTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreInspectorActivityTest.java
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BootConfigLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

@W-21933885: [MSDK Android] App Attestation Implementation (Revert Code Coverage Updates For `jwtFlow` Logic In `LoginViewModel.kt`)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

Synchronize compileSDK and targetSDK for sample apps at 37
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

Fix auth flow regressions. (#2876)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Add Thread Safety And Documentation Improvements)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AppAttestationClient.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Convert AppAttestationClient remoteAccessConsumerKey To A Computed String)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AppAttestationClient.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Fix Intermittent Test Failure In SalesforceSDKManagerTests)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Update MobileSyncSDKManager And SmartStoreSDKManager Constructors)
  libs/MobileSync/src/com/salesforce/androidsdk/mobilesync/app/MobileSyncSDKManager.java
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/app/SmartStoreSDKManager.java
Due: SmartStore, MobileSync

@W-22355537: [MSDK Android] App Attestation Public API (Improve Test Quality: Fix Exception Handling And Implement Strict Mocking)
  CODE_REVIEW_SalesforceSDKManagerTests.md
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Enable AppAttestationClient To Get Current Remote Access Consumer Key)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AppAttestationClient.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AppAttestationClientTest.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Instrumented Unit Test Updates)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AppAttestationClientTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/idp/IDPAuthCodeHelperTest.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Production Logic Updates)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AppAttestationClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/idp/IDPAuthCodeHelper.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (TEMPORARY: Updated Ignored Test Inventory)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AppAttestationClientTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/HttpAccessTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/BootConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/OAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/util/AuthConfigUtilTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/KeyValueStoreInspectorActivityTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartSqlTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreInspectorActivityTest.java
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BootConfigLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Fix Test Isolation With LoginServerManager Property Override)
  CODE_REVIEW_SalesforceSDKManagerTests.md
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Revert getDevActions_ReturnsAllActions_ForNonLoginActivity)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Restore Tests)
  CODE_REVIEW_SalesforceSDKManagerTests.md
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/HttpAccessTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/BootConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/OAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/util/AuthConfigUtilTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/KeyValueStoreInspectorActivityTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartSqlTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreInspectorActivityTest.java
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BootConfigLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Update Remote Consumer Key Look Up In Create App Attestation Client)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AppAttestationClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Refactor OAuth Config Resolution Into Common Method)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerOAuthConfigResolverTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AppAttestationClientTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2MockTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/idp/IDPAuthCodeHelperTest.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Restore @Ignore Annotations)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/HttpAccessTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/BootConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/OAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/util/AuthConfigUtilTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/KeyValueStoreInspectorActivityTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartSqlTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreInspectorActivityTest.java
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BootConfigLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Add Test For Blocking Challenge Fetch Wrapper)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AppAttestationClientTest.kt
Due: none

@W-22355537: [MSDK Android] App Attestation Public API (Remove Redundant Null Check From Fetch Mobile App Attestation Challenge)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AppAttestationClient.kt
Due: SalesforceSDK

@W-22355537: [MSDK Android] App Attestation Public API (Add Test Coverage For Release Build OAuth Config Resolution)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerOAuthConfigResolverTest.kt
Due: SalesforceSDK

Revert "@W-22355537: [MSDK Android] App Attestation Public API (Restore @Ignore Annotations)"
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/HttpAccessTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/BootConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/OAuthConfigTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/util/AuthConfigUtilTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/KeyValueStoreInspectorActivityTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartSqlTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreInspectorActivityTest.java
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BootConfigLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

Fix Refresh Token Rotation.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
Due: SalesforceSDK

Update UserAccount.getRefreshToken to always return the latest values known to the SDK. Add getRefreshTokenForPersistance to handle account updates and storage.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
Due: SalesforceSDK

Fix Refresh Token Rotation. (#2884)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
Due: SalesforceSDK

Update to TOML-based dependency management.
  gradle/libs.versions.toml
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/AuthFlowTester/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

Fix Token Migration silent failure.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/TokenMigrationActivity.kt
Due: SalesforceSDK

Fix Token Migration silent failure. (#2892)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/TokenMigrationActivity.kt
Due: SalesforceSDK

Fix screenLockActivity_onAuthError_sendsAccessibilityEvent test.
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ScreenLockActivityScenarioTest.kt
Due: none

@W-22606621: [MSDK Android] Non-Production Regression In Test testECAJwt_AllScopes After MSDK 14.0 Dependency Updates
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/JwtAccessToken.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/JwtAccessTokenTest.java
Due: SalesforceSDK
