Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

Remove flaky contract guards from LFA tests.
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

Fix a rare timing issue with RTR that could cause an additional unnecessary refresh to be requested.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
Due: SalesforceSDK

Fix welcome discovery server check and dynamic color.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

no message
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

Use forcedotcom-ubuntu runner for Linux CI jobs
  .github/workflows/pr.yaml
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

W-23159884: Add stable test tags to login screen and server/account picker
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginServerListItem.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginViewTestTags.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: SalesforceSDK

W-23159884: Document shared server-row delete tags and row-identity matcher pattern
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginViewTestTags.kt
Due: SalesforceSDK

test(W-21167151): verify BW and WD feature flags persist across app restart
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/LoginWithRestartTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

ci: declare run_all_ui_tests input in reusable-ui-workflow
  .github/workflows/reusable-ui-workflow.yaml
Due: none

fix(W-23159744): avoid NPE in hydratePerUserFeatures during construction
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

refactor(W-23159744): avoid double UA fetch by splitting validateUserAgent into public/private overloads
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: SalesforceSDK

fix(W-23159744): pass expectAdvancedAuth to validateUserAgent for loginForAdmin
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

Use forcedotcom-ubuntu runner for Linux CI jobs (#2939)
  .github/workflows/pr.yaml
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

test: update @Ignore message for RTRLoginTests to reference W-22512846
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RTRLoginTests.kt
Due: none

test(W-23159744): assert MU gone after second user logs out
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

Fix Login for Admin and Welcome Discovery incompatibility (#2933)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
Due: SalesforceSDK

Revert "[Test-only] relax branch filter and Danger guard for fork CI verification"
  .github/DangerFiles/TestOrchestrator.rb
  .github/workflows/pr.yaml
Due: none

W-23159884: Add stable test tags to login screen and server/account picker (#2940)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginServerListItem.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginViewTestTags.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: SalesforceSDK

ci: declare run_all_ui_tests in test-orchestrator job outputs
  .github/workflows/pr.yaml
Due: none

feat(W-23159744): per-user persistent feature flags (Android)
  libs/MobileSync/src/com/salesforce/androidsdk/mobilesync/manager/LayoutSyncManager.kt
  libs/MobileSync/src/com/salesforce/androidsdk/mobilesync/manager/MetadataSyncManager.kt
  libs/MobileSync/src/com/salesforce/androidsdk/mobilesync/manager/SyncManager.kt
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/app/SalesforceHybridSDKManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/app/SmartStoreSDKManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK, Hybrid, SmartStore, MobileSync

fix(W-23159744): update AuthenticationUtilitiesTest to use two-arg registerUsedAppFeature
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticationUtilitiesTest.kt
Due: none

ci: run ALL UI tests (incl. MultiUserLoginTests) when AuthFlowTester changes in PR
  .github/workflows/reusable-ui-workflow.yaml
Due: none

[Test-only] relax branch filter and Danger guard for fork CI verification
  .github/DangerFiles/TestOrchestrator.rb
  .github/workflows/pr.yaml
Due: none

feat(push): add foregroundRegistrationMode to re-register all users on foreground (W-20800537)
  docs/push/README.md
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushServiceTest.kt
Due: SalesforceSDK

fix(W-23159744): register BW flag globally when Custom Tab launches
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

ci: run full UI suite on PR when AuthFlowTester changes
  .github/DangerFiles/TestOrchestrator.rb
  .github/workflows/pr.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

fix(push): make foreground mode tests testable without mocking PushMessaging
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushServiceTest.kt
Due: SalesforceSDK

docs: add push notifications reference doc
  docs/push/README.md
Due: none

feat(W-23159744): display user agent in AuthFlowTester; add UA validation to UI tests
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RefreshTokenMigrationTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/AuthFlowTesterActivity.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/components/BaseComponents.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/components/UserCredentialsView.kt
Due: none

fix(W-21167151): include per-user feature flags in UA string returned by getJSONCredentials
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
Due: SalesforceSDK

feat(W-22695293): DPoP proof JWT at token exchange (Phase 2)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/dpop/DPoPProofBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/dpop/DPoPURLHelper.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2MockTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPProofBuilderTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPURLHelperTest.kt
Due: SalesforceSDK

fix(W-21167151): avoid killing instrumentation process in restartApp()
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

test(W-21167151): full iOS parity for LoginWithRestartTests + extract restart helpers
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/LoginWithRestartTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

docs(W-21167151): add LoginWithRestartTests section and update AuthFlowTest helper docs in README
  native/NativeSampleApps/AuthFlowTester/README.md
Due: none

@W-19280949: [Android] Stop persisting plaintext credentials in push registration WorkManager data (Persist only org and user id; worker re-resolves the account from AccountManager)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushNotificationsRegistrationChangeWorker.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/push/PushNotificationsRegistrationChangeWorkerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/push/PushServiceEncryptionTest.kt
Due: SalesforceSDK

@W-19280949: [Android] Stop persisting plaintext credentials in push registration WorkManager data (Enqueue registration after the account is persisted; add ordering regression test)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticationUtilitiesTest.kt
Due: SalesforceSDK
