Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

refactor(dpop): rename maybeAddDpopJkt → addDpopJktIfNeeded; fix test stubs and server URLs (W-23406836)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: SalesforceSDK

fix(dpop): clear stale dpop_jkt and delete orphaned keystore key on server re-entry (W-23406836)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-23431930: [Android] Update sf__app_blocked_error string to reference Salesforce admin (#2964)
  libs/SalesforceSDK/res/values/sf__strings.xml
Due: none

Enforce app-specific account types
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerAccountTypeTest.kt
Due: SalesforceSDK

refactor: extract LoginServerManager.isPoolServer() helper (W-23406836)
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceDroidGapActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK, Hybrid

refactor: add forceAdvancedAuthentication param to loginAndValidate (W-23406836)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RefreshTokenMigrationTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

Enforce app-specific account types (#2968)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerAccountTypeTest.kt
Due: SalesforceSDK

fix(test): fix BW/DP/MU flag assertions and missing intent filters in AuthFlowTester (W-23406836)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/main/AndroidManifest.xml
Due: none

chore(ci): remove temporary dpop branch from pr.yaml trigger (W-23384751)
  .github/workflows/pr.yaml
Due: none

docs(push): expand push notification documentation (W-23493430)
  docs/push/README.md
Due: none

fix(test): fix MockKException race in NativeLoginManagerTest (W-23384751)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
Due: none

Revert "docs(push): expand push notification documentation (W-23493430)"
  docs/push/README.md
Due: none

docs(push): fix actionable notification payload key and add BroadcastReceiver pattern (W-23493430)
  docs/push/README.md
Due: none

fix(ManageSpaceActivity): call clearApplicationUserData() after logout
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/ManageSpaceActivity.kt
Due: SalesforceSDK

fix(ManageSpaceActivity): use ActivityManager.clearApplicationUserData() to clear app storage
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/ManageSpaceActivity.kt
Due: SalesforceSDK

fix(ManageSpaceActivity): log out all users before clearing app data
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/ManageSpaceActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ManageSpaceActivityTest.kt
Due: SalesforceSDK

fix(ManageSpaceActivity): call clearApplicationUserData() after logout (#2971)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/ManageSpaceActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/ManageSpaceActivityTest.kt
Due: SalesforceSDK

docs(push): expand push notification documentation (W-23493430) (#2970)
  docs/push/README.md
Due: none

Add #GUSINFO to CODEOWNERS
  CODEOWNERS
Due: none

@W-23201591: [Android] Surface RTR state in developer info screen
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
Due: SalesforceSDK

@W-23201591: [Android] Address review — catch client-resolution errors in forceTokenRefresh; note RTR carry-over for 14.0
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK

@W-23201591: [Android] Surface RTR state in developer info screen (#2974)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/DevInfoActivityTest.kt
Due: SalesforceSDK

feat(telemetry): add B1-B4 / L1-L5 browser-login ftr_ markers (W-23240736)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/Features.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/BrowserLoginTelemetryTest.kt
Due: SalesforceSDK

fix(telemetry): correct L3/L4 layout and remove B2 (MDM) from Android selection
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/Features.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/BrowserLoginTelemetryTest.kt
Due: SalesforceSDK

feat(android): add B/L browser-login telemetry markers (W-23240736)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/Features.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/BrowserLoginTelemetryTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/BasePageObject.kt
Due: SalesforceSDK

feat(android): extend validateUserAgent with B/L marker assertions (W-23240736)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

fix(android): pass B/L markers through restartAndValidateUser (W-23240736)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

refactor(test): move selectBMarker/selectLMarker to companion object (W-23240736)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/BrowserLoginTelemetryTest.kt
Due: SalesforceSDK

fix(test): pass expectedBMarker in switchToUserAndValidateUser + migrateAndValidate (W-23240736)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

fix(test): supply missing expectedBMarker/isMultiUser in MultiUserLoginTests + AuthFlowTest (W-23240736)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

docs(android): update AuthFlowTester README with B/L marker validation details
  native/NativeSampleApps/AuthFlowTester/README.md
Due: none

fix(test): pass expectedBMarker in NegativeLoginTests.validateUser call (W-23240736)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/NegativeLoginTests.kt
Due: none

fix(W-19758940): address Android PR review feedback
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/SalesforceActivityDelegate.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerClientManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

test(W-19758940): automate multi-user refresh failures
  .github/workflows/reusable-ui-workflow.yaml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerClientManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/idp/IDPAuthCodeHelperTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: SalesforceSDK

fix(auth): update app-attestation OAuth error wire values
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuthErrorCode.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticatorServiceTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuthErrorCodeTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
Due: SalesforceSDK

feat/docs(android): add InAppWebView test variants to CAScopeSelectionLoginTests; update README
  native/NativeSampleApps/AuthFlowTester/README.md
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/CAScopeSelectionLoginTests.kt
Due: none

fix(auth): reset completedViaBrowserTab when Custom Tab is dismissed without login
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK
