Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

W-17867189: [MSDK Android] Login View Bottom App Bar Shown Even When Empty
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

W-17867189: [MSDK Android] Login View Bottom App Bar Shown Even When Empty (#2680)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

Move most of LoginActivity's onAuthFlowSuccess to AuthenticationUtlities onAuthFlowComplete so code is not repeated for Native Login or IDP.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

W-17867667: [MSDK Android] Mobile SDK Developer Support Dialog Has White Corners In Dark Theme
  libs/SalesforceSDK/res/drawable/sf__dialog.xml
  libs/SalesforceSDK/res/drawable/sf__dialog_dark.xml
  libs/SalesforceSDK/res/values/sf__styles.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

W-17867667: [MSDK Android] Mobile SDK Developer Support Dialog Has White Corners In Dark Theme (#2681)
  libs/SalesforceSDK/res/drawable/sf__dialog.xml
  libs/SalesforceSDK/res/drawable/sf__dialog_dark.xml
  libs/SalesforceSDK/res/values/sf__styles.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

@W-17875985: [MSDK Android] Template App Styles And Themes Changed With MSDK 13
  libs/SalesforceSDK/res/values/sf__attr.xml
  libs/SalesforceSDK/res/values/sf__styles.xml
Due: none

@W-17875985: [MSDK Android] Template App Styles And Themes Changed With MSDK 13 (#2683)
  libs/SalesforceSDK/res/values/sf__attr.xml
  libs/SalesforceSDK/res/values/sf__styles.xml
Due: none

@W-17920337: [MSDK Android] `MobileSyncTest` Test Suite Fails Due To Removal Of Login Options
  libs/test/MobileSyncTest/src/com/salesforce/androidsdk/mobilesync/manager/ManagerTestCase.java
Due: none

Fix LoginView nav bar when button is not shown.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

Cleanup.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

Improve Github Actions test reporting.
  .circleci/config.yml
  .github/workflows/reusable-workflow.yaml
Due: none

Fix unfocused text field color.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
Due: SalesforceSDK

@W-17920337: [MSDK Android] `MobileSyncTest` Test Suite Fails Due To Removal Of Login Options (#2684)
  libs/test/MobileSyncTest/src/com/salesforce/androidsdk/mobilesync/manager/ManagerTestCase.java
Due: none

Resolving with vf domain if available and applicable
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
Due: SalesforceSDK

Remove deprecated code.
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceDroidGapActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/analytics/SalesforceAnalyticsManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/LogoutCompleteReceiver.kt
Due: SalesforceSDK, Hybrid

no message
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/SalesforceActivityDelegate.java
Due: SalesforceSDK

Remove Deprecated Code. (#2689)
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceDroidGapActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/analytics/SalesforceAnalyticsManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/SalesforceActivityDelegate.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/LogoutCompleteReceiver.kt
Due: SalesforceSDK, Hybrid

Fix nightly test reporting.
  .github/workflows/reusable-workflow.yaml
  README.md
Due: none

Update readme status badge.
  README.md
Due: none

@W-17459651: Actionable Notifications (Android)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushMessaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsTypesResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushMessagingTest.kt
Due: SalesforceSDK

@W-17459651: Actionable Notifications (Android) (Incorporate ApiVersionStrings In NotificationsApiClient)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
Due: SalesforceSDK

Mobile SDK 13.0.0
  libs/MobileSync/AndroidManifest.xml
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
Due: SalesforceSDK

Updating version numbers to 13.1.0
  README.md
  build.gradle.kts
  libs/MobileSync/AndroidManifest.xml
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceHybrid/res/xml/config.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
  libs/SmartStore/build.gradle.kts
  libs/test/SalesforceHybridTest/res/xml/config.xml
  package.json
  tools/generate_doc.sh
Due: SalesforceSDK

@W-17459651: Actionable Notifications (Android) Support For Notifications Types (#2693)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushMessaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsTypesResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushMessagingTest.kt
Due: SalesforceSDK

@W-18033420: Actionable Notifications (Android) Register/De-Register Android Notification Channels For Notifications Types
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
Due: SalesforceSDK

New logout reasons
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/SalesforceActivityDelegate.java
Due: SalesforceSDK

@W-18033420: Actionable Notifications (Android) Register/De-Register Android Notification Channels For Notifications Types (#2695)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
Due: SalesforceSDK

@W-18079771: Actionable Notifications (Android) Invoke Actionable Notification
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/SalesforceActionableNotificationContent.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsActionsResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiErrorResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiException.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsTypesResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/SfapApiClient.kt
Due: SalesforceSDK

@W-18079771: Actionable Notifications (Android) Invoke Actionable Notification (Commentary Cleanup)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

@W-18079771: Actionable Notifications (Android) Invoke Actionable Notification (#2696)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/SalesforceActionableNotificationContent.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsActionsResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiErrorResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiException.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsTypesResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/SfapApiClient.kt
Due: SalesforceSDK

Not using real (expired) JWT in JWT parsing test
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/JwtAccessTokenTest.java
Due: none

Moving to SQLCipher 4.7
  libs/SmartStore/build.gradle.kts
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/store/DBOpenHelper.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreTest.java
Due: SmartStore

@W-18196428: [MSDK Android] User Identity No Longer Fetched In MSDK 13.0 Due To Network On Main
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/idp/SPAuthCodeHelper.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-18196428: [MSDK Android] User Identity No Longer Fetched In MSDK 13.0 Due To Network On Main (#2699)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/idp/SPAuthCodeHelper.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

@W-18186860: Actionable Notifications (Android) Additional Test Automation For Code Coverage (`SalesforceSDKManager.getNotificationsType(type)`)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushMessagingTest.kt
Due: none

@W-18186860: Actionable Notifications (Android) Additional Test Automation For Code Coverage (`SalesforceSDKManager.invokeServerNotificationAction(notificationId, actionKey)`)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushMessagingTest.kt
Due: none

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SalesforceSDK: any of: libs/SalesforceSDK/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  Hybrid: any of: libs/SalesforceHybrid/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SmartStore: any of: libs/SmartStore/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  MobileSync: any of: libs/MobileSync/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  React: any of: libs/SalesforceReact/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
