Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

Fix biometric opt-in re-prompt and clear opt-in state on logout
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/interfaces/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/BiometricAuthOptInPrompt.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticationUtilitiesTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/BiometricAuthenticationManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

fix(test): handle non-dismissable login picker in Chrome Custom Tab page object
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: none

fix(test): correct L-marker for pool-server logins; add non-DPoP pool test
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

Remove presentOptInDialog API and fix token migration test verification
  libs/SalesforceSDK/res/layout/sf__biometric_enrollment_prompt.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/interfaces/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/BiometricAuthOptInPrompt.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
Due: SalesforceSDK

fix(test): handle pre-shown picker in changeServerByUrl; add pool server to servers.xml
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/main/res/xml/servers.xml
Due: none

fix(test): handle pre-shown picker in changeServerByUrl
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: none

fix(test): dismiss picker in ensureRegularAuthServer when WebView path needed
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

Dispatch onAuthFlowFinished on the main thread.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
Due: SalesforceSDK

fix(test): fix WebView timing after server-picker dismissal
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/BasePageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/UITestConfig.kt
Due: none

Auto-present biometric opt-in/unlock (automaticPresentation) — port iOS #4041 (#2989)
  libs/SalesforceSDK/res/layout/sf__biometric_enrollment_prompt.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/interfaces/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/BiometricAuthOptInPrompt.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticationUtilitiesTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/BiometricAuthenticationManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityScenarioTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/TokenMigrationWebViewTest.kt
Due: SalesforceSDK

nit: address review comments on PR #2990
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/BasePageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: none

fix(W-23695429): escape single quotes in SmartSQL IN-clause record IDs
  libs/MobileSync/src/com/salesforce/androidsdk/mobilesync/target/SyncTarget.kt
Due: MobileSync

fix(W-23622931): escape single quotes in SmartSQL json_extract path and FTS MATCH value
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/store/QuerySpec.java
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/store/SmartSqlHelper.java
Due: SmartStore

[Android Crash] Fix EventsObservable.notifyEvent — UPCR impact 0.076%, 86 users affected
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/EventsObservable.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/util/EventsObservableTest.java
Due: SalesforceSDK

fix(W-23836447): stabilise dpop_jkt key across pool-server /authorize redirects
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

docs+test(W-23864247): skip pool server DPoP test; update AuthFlowTester README
  native/NativeSampleApps/AuthFlowTester/README.md
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
Due: none

test(W-23622931): lock in single-quote escaping with regression tests
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/QuerySpecTest.java
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartSqlTest.java
Due: none

fix(test): fix DPoPLoginTests failures in AuthFlowTester
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: none

fix(test): use WEBVIEW_ACTION_TIMEOUT_MS for Chrome Custom Tab field discovery
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
Due: none

test+fix(W-23695429): add single-quote regression tests; escape parentIds in getQueryForChildren
  libs/MobileSync/src/com/salesforce/androidsdk/mobilesync/target/ParentChildrenSyncTargetHelper.kt
  libs/test/MobileSyncTest/src/com/salesforce/androidsdk/mobilesync/target/ParentChildrenSyncTargetHelperTest.kt
  libs/test/MobileSyncTest/src/com/salesforce/androidsdk/mobilesync/target/SyncTargetSingleQuoteTest.kt
Due: MobileSync

fix(test): fix testLoginForAdmin_DPoP and address PR #2988 review feedback
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: SalesforceSDK

[Android] Show back button on Native Login WebView fallback (#2994)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: SalesforceSDK

fix(security/W-23622931): escape indexSpec.path in json_extract at index-registration sink
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/store/SmartStore.java
Due: SmartStore

fix(test): fix testChangeDynamicConfigWithoutLogin_existingUserUnaffected (W-23731759)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/NegativeLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: none

feat(dpop): in-place upgrade to DPoP + per-call DPoP intent on token migration
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManagerExtension.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/TokenMigrationActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/AuthFlowTesterActivity.kt
  native/NativeSampleApps/AuthFlowTester/src/main/res/values/strings.xml
Due: SalesforceSDK

fix(dpop): address review feedback on token migration
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManagerExtension.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/TokenMigrationActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
Due: SalesforceSDK

test(dpop): guard cross-user token migration targets passed user
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerMigrateTokenTest.kt
Due: none

Support biometric authentication with advanced authentication
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/AppLockManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginViewTestTags.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/BiometricAuthenticationManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
Due: SalesforceSDK

Fall back to Advanced Auth on every non-success biometric result
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

test: assert specific DPoP binding error on enforced-ECA rejection
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

fix(setVersion.sh): widen version regex to support pre-release version formats
  setversion.sh
Due: none

fix(release): remove stale libs/SalesforceReact references from setversion.sh
  setversion.sh
Due: none

docs(authflowtester): fix README drift in DPoPLoginTests table
  native/NativeSampleApps/AuthFlowTester/README.md
Due: none

Downgrade Compose BOM floor.
  gradle/libs.versions.toml
Due: none

feat(auth): default DPoP on for new logins in MSDK 14
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/LegacyLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: SalesforceSDK

docs(authflowtester): update README for DPoP-on-by-default
  native/NativeSampleApps/AuthFlowTester/README.md
Due: none

test(auth): pin useDPoP off in LoginViewModel URL-shape tests
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: none

Path conditions:
  Analytics: any of: libs/SalesforceAnalytics/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SalesforceSDK: any of: libs/SalesforceSDK/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  Hybrid: any of: libs/SalesforceHybrid/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  SmartStore: any of: libs/SmartStore/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  MobileSync: any of: libs/MobileSync/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
  React: any of: libs/SalesforceReact/src/, but not: hybrid, native, test, libs/**/src/com/salesforce/androidsdk/**/util/test
