Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

Merge original and retry test results so they are interpreted correctly by the test reporter.
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
Due: none

Add UI Tests (#2847)
  .github/workflows/reusable-lib-workflow.yaml
  .github/workflows/reusable-ui-workflow.yaml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticationUtilitiesTest.kt
  native/NativeSampleApps/AuthFlowTester/README.md
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BootConfigLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/CAScopeSelectionLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/ECALoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RefreshTokenMigrationTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthorizationPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/BasePageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginOptionsPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/AuthFlowTesterActivity.kt
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/components/UserCredentialsView.kt
Due: SalesforceSDK

@W-15287195: Add ProGuard consumer rules to prevent logout failures
  libs/MobileSync/build.gradle.kts
  libs/MobileSync/consumer-rules.pro
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/consumer-rules.pro
  libs/SmartStore/build.gradle.kts
  libs/SmartStore/consumer-rules.pro
Due: none

@W-17247702: Remove getBuildConfigValue reflection usage
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

@W-18574835: Add unique locators for Add Connection page UI elements
  libs/SalesforceSDK/res/values/sf__strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
Due: SalesforceSDK

Add AdvancedAuthBeaconLoginTests with intent filters for advanced auth
  native/NativeSampleApps/AuthFlowTester/README.md
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/AdvancedAuthBeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BeaconLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/main/AndroidManifest.xml
Due: none

Adding advanced auth login host
  native/NativeSampleApps/AuthFlowTester/src/main/res/xml/servers.xml
Due: none

Adv auth tests now passing
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

Add Beacon tests to PR workflow
  .github/workflows/reusable-ui-workflow.yaml
Due: none

Use LoginServerManager to switch to regular auth server
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

Optimize test timeouts for optional UI checks
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthorizationPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
Due: none

Fix workflow syntax error: remove trailing space after backslash
  .github/workflows/reusable-ui-workflow.yaml
Due: none

Add presentBiometricAuth to NativeLoginManager.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/interfaces/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

Add CLAUDE.md with AI development guidelines for Android SDK
  CLAUDE.md
Due: none

Add Claude skill for updating min SDK version
  .claude/skills/update-min-sdk.md
Due: none

Add Claude skill for updating SQLCipher version
  .claude/skills/update-sqlcipher.md
Due: none

Add API modernization review step to min SDK skill
  .claude/skills/update-min-sdk.md
Due: none

Fix token refresh on bio unlock.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
Due: SalesforceSDK

Add tests.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/BiometricAuthenticationManagerTest.kt
Due: SalesforceSDK

Inject non-mockkable code to improve test coverage.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
Due: SalesforceSDK

Add presentBiometricAuth to NativeLoginManager. (#2854)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/interfaces/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/BiometricAuthenticationManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelMockTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/NativeLoginManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/BiometricAuthenticationManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
Due: SalesforceSDK

Fix advanced auth login keyboard interaction
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
Due: none

Fix unit tests that fail based on API level.
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/ScreenLockViewModelTest.kt
Due: none

Fix unit tests that fail based on API level. (#2860)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginServerManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/ScreenLockViewModelTest.kt
Due: none

Update documentation to reference External Client App
  CLAUDE.md
Due: none

Enhance README with library details, usage examples, and build instructions
  README.md
Due: none

Simplify README - remove lengthy code examples
  README.md
Due: none

Reference README from CLAUDE.md to reduce duplication
  CLAUDE.md
Due: none

Harden Flutter SDK for production: close all security and architectural gaps
  flutter_sdk/lib/salesforce_sdk.dart
  flutter_sdk/lib/src/analytics/logger/log_sanitizer.dart
  flutter_sdk/lib/src/analytics/logger/salesforce_logger.dart
  flutter_sdk/lib/src/analytics/manager/analytics_manager.dart
  flutter_sdk/lib/src/analytics/store/event_store_manager.dart
  flutter_sdk/lib/src/core/accounts/user_account.dart
  flutter_sdk/lib/src/core/accounts/user_account_manager.dart
  flutter_sdk/lib/src/core/app/salesforce_sdk_manager.dart
  flutter_sdk/lib/src/core/auth/auth_helper.dart
  flutter_sdk/lib/src/core/auth/oauth2.dart
  flutter_sdk/lib/src/core/config/login_server_manager.dart
  flutter_sdk/lib/src/core/network/connectivity_manager.dart
  flutter_sdk/lib/src/core/push/push_notification_manager.dart
  flutter_sdk/lib/src/core/rest/http_client_factory.dart
  flutter_sdk/lib/src/core/rest/rest_client.dart
  flutter_sdk/lib/src/core/rest/rest_request.dart
  flutter_sdk/lib/src/core/rest/rest_response.dart
  flutter_sdk/lib/src/core/rest/salesforce_error.dart
  flutter_sdk/lib/src/core/security/encryptor.dart
  flutter_sdk/lib/src/core/security/screen_lock_manager.dart
  flutter_sdk/lib/src/mobilesync/manager/sync_scheduler.dart
  flutter_sdk/lib/src/smartstore/store/schema_migration.dart
  flutter_sdk/lib/src/smartstore/store/smart_sql_validator.dart
  flutter_sdk/lib/src/smartstore/store/smart_store.dart
  flutter_sdk/pubspec.lock
  flutter_sdk/pubspec.yaml
  flutter_sdk/test/analytics_test.dart
Due: none

Close all feature gaps between Android SDK and Flutter SDK
  flutter_sdk/lib/salesforce_sdk.dart
  flutter_sdk/lib/src/analytics/logger/file_logger.dart
  flutter_sdk/lib/src/analytics/logger/log_receiver.dart
  flutter_sdk/lib/src/core/auth/idp_sp_flow.dart
  flutter_sdk/lib/src/core/auth/jwt_access_token.dart
  flutter_sdk/lib/src/core/auth/native_login_manager.dart
  flutter_sdk/lib/src/core/config/runtime_config.dart
  flutter_sdk/lib/src/core/push/push_notification_decryptor.dart
  flutter_sdk/lib/src/core/rest/batch_response.dart
  flutter_sdk/lib/src/core/rest/collection_response.dart
  flutter_sdk/lib/src/core/rest/notifications_api_client.dart
  flutter_sdk/lib/src/core/rest/priming_records_response.dart
  flutter_sdk/lib/src/core/rest/rest_client.dart
  flutter_sdk/lib/src/core/rest/sfap_api_client.dart
  flutter_sdk/lib/src/core/security/certificate_pinner.dart
  flutter_sdk/lib/src/mobilesync/config/sync_config.dart
  flutter_sdk/lib/src/mobilesync/manager/clean_sync_ghosts.dart
  flutter_sdk/lib/src/mobilesync/manager/layout_sync_manager.dart
  flutter_sdk/lib/src/mobilesync/manager/metadata_sync_manager.dart
  flutter_sdk/lib/src/mobilesync/target/batch_sync_up_target.dart
  flutter_sdk/lib/src/mobilesync/target/collection_sync_up_target.dart
  flutter_sdk/lib/src/smartstore/config/store_config.dart
  flutter_sdk/lib/src/smartstore/store/mem_cached_key_value_store.dart
  flutter_sdk/lib/src/smartstore/store/smart_store_inspector.dart
Due: none

Close all 29 feature gaps between Android Native SDK and Flutter SDK
  flutter_sdk/lib/salesforce_sdk.dart
  flutter_sdk/lib/src/analytics/publisher/analytics_publisher.dart
  flutter_sdk/lib/src/core/app/features.dart
  flutter_sdk/lib/src/core/app/sdk_upgrade_manager.dart
  flutter_sdk/lib/src/core/config/admin_prefs_manager.dart
  flutter_sdk/lib/src/core/platform/salesforce_activity.dart
  flutter_sdk/lib/src/core/rest/composite_response.dart
  flutter_sdk/lib/src/core/rest/file_requests.dart
  flutter_sdk/lib/src/core/rest/rest_request.dart
  flutter_sdk/lib/src/core/util/events_observable.dart
  flutter_sdk/lib/src/mobilesync/target/briefcase_sync_down_target.dart
  flutter_sdk/lib/src/mobilesync/target/mru_sync_down_target.dart
  flutter_sdk/lib/src/mobilesync/target/parent_children_sync_target.dart
  flutter_sdk/lib/src/mobilesync/target/sync_down_target.dart
  flutter_sdk/lib/src/ui/account_switcher_activity.dart
  flutter_sdk/lib/src/ui/dev_info_activity.dart
  flutter_sdk/lib/src/ui/login_activity.dart
  flutter_sdk/lib/src/ui/screen_lock_activity.dart
Due: none

Mobile SDK 13.2.0
  libs/MobileSync/AndroidManifest.xml
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
Due: SalesforceSDK

Updating version numbers to 14.0.0
  README.md
  build.gradle.kts
  libs/MobileSync/AndroidManifest.xml
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceHybrid/res/xml/config.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
  libs/SmartStore/build.gradle.kts
  libs/test/SalesforceHybridTest/res/xml/config.xml
  tools/generate_doc.sh
Due: SalesforceSDK

Fix deferred authentication callback bug in React Native Android
  libs/SalesforceReact/src/com/salesforce/androidsdk/reactnative/ui/SalesforceReactActivity.java
Due: React

Update UI Tests for login screen changes.
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: none

Use class + instance selector as a fallback for ChromeCustomTabPageObject.
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
Due: none

Fix React Native authenticate() callback invocation when already authenticated
  libs/SalesforceReact/src/com/salesforce/androidsdk/reactnative/ui/SalesforceReactActivity.java
Due: React

Update UI Tests for login screen changes. (#2865)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/LoginPageObject.kt
Due: none

Replace Log with SalesforceSDKLogger.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
Due: SalesforceSDK
