Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

@W-18186860: Actionable Notifications (Android) Additional Test Automation For Code Coverage (Code Review Feedback)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushMessaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ApiVersionStringsTest.kt
Due: SalesforceSDK

@W-18186860: Actionable Notifications (Android) Additional Test Automation For Code Coverage (#2704)
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushMessaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ApiVersionStrings.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsTypesResponseBody.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountManagerTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushMessagingTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushServiceTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceActionableNotificationContentTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ApiVersionStringsTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/NotificationsActionsResponseBodyTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/NotificationsApiErrorResponseBodyTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/NotificationsApiExceptionTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/NotificationsTypesResponseBodyTest.kt
Due: SalesforceSDK

@W-18349233: [MSDK Android] Malformed URLs Generated By NotificationsApiClient Prevent Notifications Types Fetch And Notification Action Invocation
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
Due: SalesforceSDK

@W-18079803: Actionable Notifications (Android) Demo App (Initial Revision For PTOn Support)
  libs/SalesforceSDK/res/values/strings.xml
Due: none

@W-18349233: [MSDK Android] Malformed URLs Generated By NotificationsApiClient Prevent Notifications Types Fetch And Notification Action Invocation
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushMessagingTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushServiceTest.kt
Due: SalesforceSDK

@W-18349233: [MSDK Android] Malformed URLs Generated By NotificationsApiClient Prevent Notifications Types Fetch And Notification Action Invocation (#2706)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/NotificationsApiClient.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushMessagingTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushServiceTest.kt
Due: SalesforceSDK

Make LoginActivity onAuthFlowError open.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-18196428: [MSDK Android] User Identity No Longer Fetched In MSDK 13.0 Due To Network On Main (#2699)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/idp/SPAuthCodeHelper.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
Due: SalesforceSDK

Merge pull request #2703 from brandonpage/status_bar_icon_color
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

Merge pull request #2707 from brandonpage/13.0-login-fixes
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-18079803: Actionable Notifications (Android) Demo App (Significant Improvements To App Notifications Code Layout Due To MSDK Provided Context)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushNotificationDecryptor.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushNotificationInterface.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/SFDCFcmListenerService.java
Due: SalesforceSDK

Fix status bar icon color for all cases.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

Remove force unwraps.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

Merge pull request #2709 from brandonpage/fix-login-status-bar-icon-color
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-18250527: Websockets client (Android)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/AgentforceSpeechFoundationsApiClient.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
Due: SalesforceSDK

@W-18250527: Websockets client (Android) (+`RestClientTest.testNewWebSocket()`)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
Due: none

@W-18250527: Websockets client (Android) (Migrate `AgentforceSpeechFoundationsApiClient` To App)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/AgentforceSpeechFoundationsApiClient.kt
Due: SalesforceSDK

@W-18250527: Websockets client (Android) (Restore Typos In `SalesforceSDKManager`)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
Due: SalesforceSDK

@W-18250527: Websockets client (Android) (#2712)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientTest.java
Due: SalesforceSDK

Additional test to improve coverage
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
Due: SalesforceSDK

Beacon apps are only supported with user agent flow so beacon child fields don't need to be extracted from redirect during user agent flow
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/idp/IDPAuthCodeHelper.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2Test.java
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Add WSC To Known Login Servers)
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceDroidGapActivity.kt
  libs/SalesforceSDK/res/xml/servers.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
  native/NativeSampleApps/RestExplorer/res/xml/servers.xml
Due: SalesforceSDK, Hybrid

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (New Unit Tests For Code Coverage Of `LoginViewModel.defaultTitleText`)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (New Unit Test For Code Coverage `LoginViewModelTest.loginHint_Changes_loginUrl` Plus Standardized Test Names)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Switch To TextUtils.isEmpty In OAuth2.java)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (LoginActivityTest.viewModelLoginHint_UpdatesOn_onCreateWithSalesforceWelcomeLoginHintIntentExtras)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Overload getAuthorizationUrl To Reduce Code Coverage Patch Requirements And Improve API)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/idp/IDPAuthCodeHelper.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2Test.java
Due: SalesforceSDK

Make test results more readable.
  .github/workflows/reusable-workflow.yaml
Due: none

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (SalesforceSDKManagerTests.expectedValue_Returns_onFetchAuthenticationConfiguration)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/util/AuthConfigUtil.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK

Moving to SQLCipher 4.9.0
  libs/SmartStore/build.gradle.kts
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/SmartStoreTest.java
Due: none

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (LoginActivityTest.viewModelLoginHint_DoesNotUpdateLoginUrl_onSelectedServerSetNull)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (SalesforceSDKManagerTests.expectedValue_Returns_onFetchAuthenticationConfiguration - Fixes Pt. 1)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (SalesforceSDKManagerTests.expectedValue_Returns_onFetchAuthenticationConfiguration - Fixes Pt. 2)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Data Hygiene In SalesforceSDKManagerTests.expectedValue_Returns_onFetchAuthenticationConfiguration - Fixes Pt. 2)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

Switch to new user before sending user switch intent so that we return the correct current user.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (SalesforceSDKManagerTests Cleanup)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Correct Tear-Down For SalesforceSDKManagerTests)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

@W-17449395: [Android] Welcome login email deeplinking support in MSDK 13.1 (Correct SalesforceSDKManagerTests.salesforceSdkManager_DoesNotUpdate_onFetchAuthenticationConfigurationWithError)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: none

Merge pull request #2718 from brandonpage/fix-current-user
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
Due: SalesforceSDK
