Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

Mobile SDK 13.0.2
  README.md
  build.gradle.kts
  libs/MobileSync/AndroidManifest.xml
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceHybrid/res/xml/config.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
  libs/SmartStore/build.gradle.kts
  libs/test/SalesforceHybridTest/res/xml/config.xml
  package.json
Due: SalesforceSDK

Fix date and time pickers in login webview.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

Bump all dependencies. Fix User Switcher screen.
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: SalesforceSDK

Fix a couple more troublesome dependency updates.
  build.gradle.kts
  hybrid/HybridSampleApps/AccountEditor/build.gradle.kts
  hybrid/HybridSampleApps/MobileSyncExplorerHybrid/build.gradle.kts
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceSDK/build.gradle.kts
  libs/SmartStore/build.gradle.kts
  native/NativeSampleApps/AppConfigurator/build.gradle.kts
  native/NativeSampleApps/ConfiguredApp/build.gradle.kts
  native/NativeSampleApps/RestExplorer/build.gradle.kts
Due: none

Add API 36 for nightly tests and bump PR test level to 35.
  .github/workflows/reusable-workflow.yaml
Due: none

Fix button action and bio auth bypass on RN.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/AppLockManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
Due: SalesforceSDK

Fix singleServerCustomTabActivity loading while waiting for PKCE.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android)
  libs/SalesforceSDK/res/values/strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/FrontdoorBridgeLoginOverride.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/FrontdoorBridgeUrlAppLoginServerMatch.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android) (Correct `LoginActivityTests`)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android) (`FrontdoorBridgeLoginOverrideTest` And `FrontdoorBridgeLoginOverride`)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/FrontdoorBridgeLoginOverrideTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/FrontdoorBridgeUrlAppLoginServerMatchTest.kt
Due: none

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android) (Correct String Resources)
  libs/SalesforceSDK/res/values/sf__strings.xml
  libs/SalesforceSDK/res/values/strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android) (Correct Assertions For `FrontdoorBridgeLoginOverrideTest` And `FrontdoorBridgeLoginOverride`)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/RuntimeConfig.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/FrontdoorBridgeLoginOverride.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/FrontdoorBridgeUrlAppLoginServerMatch.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/FrontdoorBridgeLoginOverrideTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/FrontdoorBridgeUrlAppLoginServerMatchTest.kt
Due: SalesforceSDK

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android) (W.I.P.: Temporarily Disable Flapping Test)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android) (W.I.P.: Code Review Updates w/Remaining To-Dos And Disabling Test That Only Fail In CI)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/LoginServerManaging.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/FrontdoorBridgeLoginOverride.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/FrontdoorBridgeUrlAppLoginServerMatch.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/FrontdoorBridgeLoginOverrideTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/FrontdoorBridgeUrlAppLoginServerMatchTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

@W-19461869: [M1][MSDK13.1] Enable Flexible Server Matching for QR Code Login (Android) (W.I.P.: Correct Tests In `FrontdoorBridgeUrlAppLoginServerMatchTest.kt` With URL Cleanup As Well)
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/FrontdoorBridgeUrlAppLoginServerMatchTest.kt
Due: none

Updated test to save/retrieve large values The test no longer creates large strings (neither before writing nor after reading).
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/KeyValueEncryptedFileStoreTest.java
Due: none

Fix comment
  libs/test/SmartStoreTest/src/com/salesforce/androidsdk/smartstore/store/KeyValueEncryptedFileStoreTest.java
Due: none

@W-19628153: [Android][QRCode] When Auth Config "Use the native browser for user authentication on Android" is enabled users logging in via QR code still challenged with browser login
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

@W-19628153: [Android][QRCode] When Auth Config "Use the native browser for user authentication on Android" is enabled users logging in via QR code still challenged with browser login (#2764)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

Fix use of non-current account in client manager and possible logout of current user.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
Due: SalesforceSDK

Add getNewAuthTokenTests.
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
Due: none

@W-19704630: [MSDK Android] Login Activity Tests Failing Only In CI - Ignore For 13.1
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: none

Use BOM Compose Versions
  libs/SalesforceSDK/build.gradle.kts
Due: none

Use sky instead of mock to fix login activity tests.
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
Due: none

Improve getNewAuthToken.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/ClientManagerMockTest.kt
Due: SalesforceSDK

Fix FLAG_SECURE import in LoginActivity
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

Mobile SDK 13.1.0
  libs/MobileSync/AndroidManifest.xml
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
Due: SalesforceSDK

Updating version numbers to 13.2.0
  README.md
  build.gradle.kts
  libs/MobileSync/AndroidManifest.xml
  libs/MobileSync/build.gradle.kts
  libs/SalesforceAnalytics/AndroidManifest.xml
  libs/SalesforceAnalytics/build.gradle.kts
  libs/SalesforceHybrid/AndroidManifest.xml
  libs/SalesforceHybrid/build.gradle.kts
  libs/SalesforceHybrid/res/xml/config.xml
  libs/SalesforceReact/AndroidManifest.xml
  libs/SalesforceReact/build.gradle.kts
  libs/SalesforceReact/package.json
  libs/SalesforceSDK/AndroidManifest.xml
  libs/SalesforceSDK/build.gradle.kts
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SmartStore/AndroidManifest.xml
  libs/SmartStore/build.gradle.kts
  libs/test/SalesforceHybridTest/res/xml/config.xml
  tools/generate_doc.sh
Due: SalesforceSDK

Saving scope in user account
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountBuilder.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccountManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
Due: SalesforceSDK

Allowing no scopes to be provided
  libs/SalesforceSDK/res/values/sf__strings.xml
  libs/SalesforceSDK/src/com/salesforce/androidsdk/accounts/UserAccount.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/ScopeParser.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/accounts/UserAccountTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2Test.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/ScopeParserTest.kt
Due: SalesforceSDK

Checking that refresh scope came back in token end point response
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/AuthenticationUtilitiesTest.kt
Due: SalesforceSDK

Addressing feedback
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/ScopeParser.kt
Due: SalesforceSDK

Oauth scopes are now optional in bootconfig file
  libs/SalesforceSDK/src/com/salesforce/androidsdk/config/BootConfig.java
  libs/test/SalesforceSDKTest/assets/www/bootconfig_emptyOauthScopes.json
  libs/test/SalesforceSDKTest/assets/www/bootconfig_noOauthScopes.json
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2Test.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/BootConfigTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/config/BootConfigTest.kt
Due: SalesforceSDK

Hybrid app inspect scopes on user agent and warn if important ones are missing
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceWebViewCookieManager.kt
  libs/test/SalesforceHybridTest/src/com/salesforce/androidsdk/phonegap/ui/SalesforceWebViewCookieManagerTest.kt
Due: Hybrid

Checking that scope is defined before calling inspectScopes
  libs/SalesforceHybrid/src/com/salesforce/androidsdk/phonegap/ui/SalesforceWebViewCookieManager.kt
Due: Hybrid

Removing package.json again-
  package.json
Due: none

Removing package.json again
  package.json
Due: none
