Repository forcedotcom/SalesforceMobileSDK-Android: changes, and which Codecov flags are due for each by the changed paths.
All: Analytics, SalesforceSDK, Hybrid, SmartStore, MobileSync, React

.codecov.yml:

# Validate changes to this class with: curl -X POST --data-binary @.codecov.yml https://codecov.io/validate

codecov:
  branch: dev

coverage:
  precision: 2
  round: down
  range: "60...80"

  status:
    # Overall Library Requirements
    project:
      default: false  # disable the default status that measures entire project
      SalesforceAnalytics:
        threshold: 0%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        threshold: 0%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        threshold: 0%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        threshold: 0%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        threshold: 0%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        threshold: 0%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

    # Pull Request Requirements
    patch: 
      SalesforceAnalytics:
        target: 80%
        paths:
          - "libs/SalesforceAnalytics/src/"
        flags:
          - SalesforceAnalytics
      SalesforceSDK:
        target: 80%
        paths:
          - "libs/SalesforceSDK/src/"
        flags:
          - SalesforceSDK
      SalesforceHybrid:
        target: 80%
        paths:
          - "libs/SalesforceHybrid/src/"
        flags:
          - SalesforceHybrid
      SmartStore:
        target: 80%
        paths:
          - "libs/SmartStore/src/"
        flags:
          - SmartStore
      MobileSync:
        target: 80%
        paths: 
          - "libs/MobileSync/src/"
        flags: 
          - MobileSync
      SalesforceReact:
        target: 80%
        paths:
          - "libs/SalesforceReact/src/"
        flags:
          - SalesforceReact

ignore:
  - "hybrid"
  - "native"
  - "test"
  - "libs/**/src/com/salesforce/androidsdk/**/util/test"

flag_management:
  default_rules: # the rules that will be followed for any flag added, generally
    carryforward: true

comment:
  layout: "diff, components, files"
  behavior: default
  require_changes: true

component_management:
  individual_components:
    - component_id: SalesforceAnalytics  # this is an identifier that should not be changed
      name: Analytics  # this is a display name, and can be changed freely
      paths: 
        - "libs/SalesforceAnalytics/src/"
    - component_id: SalesforceSDK
      paths: 
        - "libs/SalesforceSDK/src/"
    - component_id: SalesforceHybrid
      name: Hybrid
      paths: 
        - "libs/SalesforceHybrid/src/"
    - component_id: SmartStore
      paths: 
        - "libs/SmartStore/src/"
    - component_id: MobileSync
      paths: 
        - "libs/MobileSync/src/"
    - component_id: SalesforceReact
      name: React
      paths: 
        - "libs/SalesforceReact/src/"

fix(android): reset completedViaBrowserTab in onResume when Login Options changes auth surface
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

fix(test): disable forced advanced auth in adminLoginAndValidate for WebView path
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

fix(test): replace fixed MAX_RETRIES with deadline loop in AuthorizationPageObject
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthorizationPageObject.kt
Due: none

fix(push): log skipped deregistration work
  docs/push/README.md
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushNotificationsRegistrationChangeWorker.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushService.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/PushServiceTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/push/PushNotificationsRegistrationChangeWorkerTest.kt
Due: SalesforceSDK

feat(W-23201584): surface App Attestation state in developer info screen
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/Features.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
Due: SalesforceSDK

feat(auth): add FEATURE_APP_ATTESTATION per-user flag (W-23195018)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/Features.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/NativeLoginManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
Due: SalesforceSDK

fix(AuthFlowTester): dismiss logout dialog on completion
  native/NativeSampleApps/AuthFlowTester/src/main/java/com/salesforce/samples/authflowtester/AuthFlowTesterActivity.kt
Due: none

refactor(W-23201584): rename 'Feature Flag (AA)' to 'Used in Last Auth' in dev info
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
Due: SalesforceSDK

feat(telemetry): add A1-A5/TM/JT/OT/BN per-user feature flag markers (W-23762053)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/Features.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/SalesforceSDKManagerTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/AuthFlowTesterPageObject.kt
Due: SalesforceSDK

test(ui): wire isJwt/isBeacon/expectedAMarker into all validateUser call sites (W-23762053)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/NegativeLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RTRLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RefreshTokenMigrationTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/UITestConfig.kt
Due: none

fix(telemetry): re-register A-marker global when Login Options change auth surface (W-23762053)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
Due: SalesforceSDK

fix(telemetry): promote A-marker/JT/OT/BN per-user for native login path (W-23762053)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
Due: SalesforceSDK

test(ui): always reset web-server/hybrid/DPoP toggles when opening Login Options (W-23762053)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

test(ui): fix multi-user flag leakage tests and ensureRegularAuthServer state (W-23762053)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: none

test(ui): add multi-user flag leakage detection tests (W-23762053)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

docs(ui-test): document new multi-user flag leakage tests in README (W-23762053)
  native/NativeSampleApps/AuthFlowTester/README.md
Due: none

refactor(ui-test): rename flag-diversity tests with descriptive flow names (W-23762053)
  native/NativeSampleApps/AuthFlowTester/README.md
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

fix(tests): plumb isJwt/isBeacon through admin/switchUser/revokeRefresh helpers; fix admin A-marker registration
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/BootConfigLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/LoginWithRestartTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RTRLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
Due: SalesforceSDK

feat(security): remove RSA PKCS1 cipher mode fallback (W-17711863)
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/security/Encryptor.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/push/PushNotificationDecryptor.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/KeyStoreWrapper.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/SalesforceKeyGenerator.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/KeyStoreWrapperTest.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/SalesforceKeyGeneratorTest.java
Due: Analytics, SalesforceSDK

feat(security): retain PKCS1 fallback in SalesforceKeyGenerator for 14.0 (W-17711863)
  libs/SalesforceAnalytics/src/com/salesforce/androidsdk/analytics/security/Encryptor.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/SalesforceKeyGenerator.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/security/SalesforceKeyGeneratorTest.java
Due: Analytics, SalesforceSDK

chore: clarify PKCS1 TODO comment — 13.x or 14.x migration path (W-17711863)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/security/SalesforceKeyGenerator.java
Due: SalesforceSDK

Make login server picker non-dismissable (W-23731759)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginViewTestTags.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
Due: SalesforceSDK

fix(tests): handle newer Chrome FRE dialog variants in skipGoogleSignIn (W-23762053)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/pageObjects/ChromeCustomTabPageObject.kt
Due: none

fix(tests): fix UserAgentFlow Advanced Auth, multi-user flag assertions, test renames (W-23762053)
  native/NativeSampleApps/AuthFlowTester/README.md
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/CAScopeSelectionLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: none

fix(auth): clear TM from global feature store; fix multi-user flag assertions (W-23762053)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticationUtilities.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/MultiUserLoginTests.kt
Due: SalesforceSDK

fix(tests): add forceAdvancedAuthentication=false to UserAgent migration logins (W-23762053)
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RefreshTokenMigrationTests.kt
Due: none

Address review feedback: simplify showDevSupport, animation duration, and back-behavior test mocks
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

Remove deprecated devSupportInfos, migrate devSupportInfo to structured builder
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/app/SmartStoreSDKManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginOptionsActivityTest.kt
Due: SalesforceSDK, SmartStore

Remove deprecated devSupportInfos, migrate devSupportInfo to structured builder (#2984)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/developer/support/DevSupportInfo.kt
  libs/SmartStore/src/com/salesforce/androidsdk/smartstore/app/SmartStoreSDKManager.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/developer/support/DevSupportInfoTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginOptionsActivityTest.kt
Due: SalesforceSDK, SmartStore

Make login server picker non-dismissable (W-23731759) (#2983)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginView.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/LoginViewTestTags.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/components/PickerBottomSheet.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginViewActivityTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/PickerBottomSheetTest.kt
Due: SalesforceSDK

fix(dpop): gate proof attachment on per-credential state
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/AuthenticatorService.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/ClientManager.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2DPoPTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/OAuth2MockTests.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManagerTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/rest/RestClientDPoPGateTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
Due: SalesforceSDK

feedback from PR.
  libs/SalesforceSDK/src/com/salesforce/androidsdk/app/SalesforceSDKManager.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManager.kt
Due: SalesforceSDK

Remove plaintext token response log (W-23820720)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/OAuth2.java
Due: SalesforceSDK

fixed test.
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPKeyManagerTest.kt
Due: none

feat(auth): add auth_trigger and sdkInfo params to Custom Tab authorize URL
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/BrowserLoginTelemetryTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
Due: SalesforceSDK

no message
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
Due: none

feat(W-23815428): add DPoPRequestDecorator with applyAuthHeaders(builder, userAccount)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/auth/dpop/DPoPRequestDecorator.kt
  libs/SalesforceSDK/src/com/salesforce/androidsdk/rest/RestClient.java
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/dpop/DPoPRequestDecoratorTest.kt
Due: SalesforceSDK

Add auth_trigger and sdkInfo params to Custom Tab authorize URL (#2986)
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginActivity.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/app/BrowserLoginTelemetryTest.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/ui/LoginActivityTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
Due: SalesforceSDK

fix(W-23836447): allow dpop_jkt on login pool servers
  CLAUDE.md
  libs/SalesforceSDK/src/com/salesforce/androidsdk/ui/LoginViewModel.kt
  libs/test/SalesforceSDKTest/src/com/salesforce/androidsdk/auth/LoginViewModelTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/DPoPLoginTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/RefreshTokenMigrationTests.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/AuthFlowTest.kt
  native/NativeSampleApps/AuthFlowTester/src/androidTest/java/com/salesforce/samples/authflowtester/testUtility/UITestConfig.kt
Due: SalesforceSDK
